    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    nav li {
        display: inline-block;
        margin-right: 20px;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    main {
        padding: 20px;
    }
    
    .log {
        border: 2px solid #394D5F;
        border-radius: 20px;
        width: 80px;
        height: 20px;
        float: right;
        background-color: blue;
        text-align: center;
        padding: 5px;
    }
    
    .home {
        background-image: linear-gradient(to right, #0B1320, #394D5F, #cac7ba);
        color: #fff;
        padding: 100px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .home>.about {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 16px;
        width: 70%;
    }
    
    .about>table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 60%;
    }
    
    .about th,
    .about td {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    
    .about td:first-of-type {
        color: lightgreen;
    }
    
    .home.img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .menu {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        left: 20px;
        text-align: center;
    }
    
    .menu a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .menu:hover {
        pointer-events: all;
    }
    
    .label {
        display: block;
        cursor: pointer;
        pointer-events: all;
        margin-top: 10px;
    }
    
    .spacer {
        display: block;
        width: 80px;
        margin-left: 15px;
        margin-right: 15px;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
    }
    
    .spacer:before {
        content: "";
        position: absolute;
        border-bottom: 1px solid #ffffff;
        height: 1px;
        width: 0%;
        transition: width 0.25s ease;
        transition-delay: 0.7s;
    }
    
    .item {
        position: relative;
        display: block;
        margin-right: 30px;
        top: 10px;
        opacity: 0;
        transition: opacity 0.5s ease, top 0.5s ease;
        transition-delay: 0;
        padding: 10px;
    }
    
    span {
        transition: color 0.5s ease;
    }
    
    .item:hover span a {
        color: #ff0000;
    }
    
    .menu:hover .spacer:before {
        width: 100%;
        transition-delay: 0s;
    }
    
    .menu:hover .item {
        opacity: 1;
        top: 0px;
    }
    
    .item:nth-child(1) {
        transition-delay: 0.45s;
    }
    
    .item:nth-child(2) {
        transition-delay: 0.4s;
    }
    
    .item:nth-child(3) {
        transition-delay: 0.35s;
    }
    
    .item:nth-child(4) {
        transition-delay: 0.3s;
    }
    
    .menu:hover .item:nth-child(1) {
        transition-delay: 0.25s;
    }
    
    .menu:hover .item:nth-child(2) {
        transition-delay: 0.3s;
    }
    
    .menu:hover .item:nth-child(3) {
        transition-delay: 0.35s;
    }
    
    .menu:hover .item:nth-child(4) {
        transition-delay: 0.4s;
    }
    
    .home>.img>img {
        width: 300px;
        height: 250px;
    }
    
    .home h1 {
        margin-top: 0;
    }
    
    .cta {
        background-color: #fff;
        color: #FFA500;
        font-weight: bold;
        margin-top: 20px;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }
    
    .cta:hover {
        transform: translateY(-5px);
    }
    
    #additional-content,
    #another-content {
        display: none;
    }
    /* EDUCATION BACKGROUND SECTION */
    
    .education {
        background-color: #f2f2f2;
        padding: 50px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    h2 {
        text-align: center;
    }
    
    .educationbackground {
        margin: 10px;
        flex-wrap: wrap;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 30%;
        margin-top: 20px;
    }
    
    .educationbackground h3 {
        margin-top: 0;
    }
    
    .skills h1 {
        text-align: center;
    }
    
    .skills>table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
    }
    
    .skills th,
    .skills td {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    
    .study h1 {
        text-align: center;
    }
    
    .study>table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    .study th,
    .study td {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    /* MY PROJECT SECTION */
    
    .myproject {
        background-image: linear-gradient(to right, #423952, #E0857F, #EABBBC);
        padding: 50px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .myproject h2 {
        margin-top: 0;
    }
    
    .project {
        display: block;
        margin: 20px;
        text-align: left;
    }
    
    .project .author {
        text-align: right;
    }
    
    .cards {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        background-color: #FFF;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem;
    }
    
    .card-img img {
        width: 100%;
    }
    
    .card-body {
        padding: 1rem;
    }
    
    .card-title {
        font-size: 1.10rem;
        line-height: 1.33;
        font-weight: 700;
    }
    
    .card:hover {
        transform: translateY(-5px);
    }
    
    .btn {
        display: block;
        width: 40%;
        height: 44px;
        border: none;
        border-radius: 4px;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(171, 102, 255, 1) 0%, rgba(116, 182, 247, 1) 90%);
        font-size: 17px;
        color: white;
        cursor: pointer;
    }
    
    .btn:hover {
        background-image: linear-gradient(to right, #2B124C, #3e6787);
    }
    /* WORK AND EXPERIENCE */
    
    .mywork {
        padding: 50px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-image: url('../IconImage/blob-scene-haikei.png');
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(500px);
    }
    
    .mywork h1 {
        margin-top: 0;
        text-align: center;
    }
    
    .work {
        display: flex;
        margin: 10px;
        text-align: left;
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
    }
    
    .work img {
        height: 300px;
        width: 300px;
        float: right;
        border-radius: 20%;
    }
    /* CONTACT SECTION */
    
    .contact {
        background-color: #f2f2f2;
        padding: 50px 20px;
        text-align: center;
    }
    
    .contact h1 {
        margin-top: 0;
        text-align: center;
    }
    
    .map iframe {
        height: 400px;
        width: 75%;
    }
    
    .contact form {
        width: 250px;
        margin: auto;
        text-align: center;
        padding: 20px;
        border: 1px solid#ccc;
        border-radius: 5px;
        background-color: #f2f2f2;
        margin-top: 20px;
    }
    
    .contact form>input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid#ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px;
    }
    
    .contact form>button {
        background-color: blue;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: transform.4s;
    }
    
    .contact form>button:hover {
        background-color: #555;
        transform: scale(1.2);
    }
    /* FOOTER */
    
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }